@page

@using HD.ProfileManager.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ProfileManagerResource> Localizer

@model HD.ProfileManager.Web.Pages.Employees.DetailModel
@{
    var currentUrl = $"{Request.PathBase}{Request.Path}{Request.QueryString}";
    var backUrl = Model.BackUrl;
}
<div class="row">
    <div class="col-xl-4">
        <div class="card text-center">
            <div class="card-body">
                <img src="/assets/images/users/avatar-1.jpg" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">

                <h4 class="mb-0 mt-2">@Model.Employee.Name</h4>
                <p class="text-muted font-14">@Model.Employee.JobTitle?.Name</p>

                <a class="btn btn-primary btn-sm mb-2"><i class="mdi mdi-pencil"></i> @Localizer["Edit"]</a>
                <a href="@Html.Raw(Model.BackUrl)" class="btn btn-secondary btn-sm mb-2"><i class="mdi mdi-keyboard-backspace"> </i> @Localizer["Back"]</a>

                <div class="text-start mt-3">
                    <p class="text-muted mb-2 font-13">
                        <strong>Full Name :</strong> <span class="ms-2">
                            @Model.Employee.Name
                        </span>
                    </p>

                    <p class="text-muted mb-2 font-13">
                        <strong>Mobile :</strong><span class="ms-2">
                            @Model.Employee.Mobile
                        </span>
                    </p>

                    <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ms-2 ">@Model.Employee.Email</span></p>
                </div>

                <ul class="social-list list-inline mt-3 mb-0">
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github"></i></a>
                    </li>
                </ul>
            </div> <!-- end card-body -->
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-1">Kết quả đánh giá kỳ 06/2022</h4>
                <p></p>
                <div class="table-responsive">
                    <table class="table table-sm table-centered mb-0 font-14">
                        <thead class="thead-light">
                            <tr>
                                <th>Tiêu chí đánh giá</th>
                                <th>Điểm</th>
                                <th style="width: 40%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Trình độ chuyên môn</td>
                                <td>5</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar" role="progressbar" style="width: 100%; height: 20px;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Mức độ hoàn thành chỉ tiêu công tác</td>
                                <td>4</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 75%; height: 20px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Khả năng nhận thức và giải quyết công việc</td>
                                <td>3</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 30%; height: 20px;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Tác phong làm việc</td>
                                <td>1</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%; height: 20px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div><!-- end col-->

    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                    <li class="nav-item">
                        <a href="#canhan" data-bs-toggle="tab" aria-expanded="false" class="nav-link active rounded-0">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Cá nhân</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#nhansu" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Nhân sự</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#congtac" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Công tác</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#daotao" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Đào tạo</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tuyendung" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Tuyển dụng</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- tab ca nhan -->
                    <div class="tab-pane show active" id="canhan">
                        <form>
                            <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i> Thông tin chung</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Họ và Tên</label>
                                        <input type="text" class="form-control" id="firstname" value="@Model.Employee.Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Ngày sinh</label>
                                        <input type="date" class="form-control">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Giới tính</label>
                                        <select class="form-control">
                                            <option> Nam</option>
                                            <option> Nữ </option>
                                            <option> Khác </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Tình trạng hôn nhân</label>
                                        <select class="form-control">
                                            <option> Độc thân</option>
                                            <option> Đã kết hôn</option>
                                        </select>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="userbio">Email cá nhân</label>
                                        <input type="text" class="form-control" id="firstname" value="@Model.Employee.Email">
                                    </div>
                                </div> <!-- end col -->
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="userbio">Số điện thoại</label>
                                        <input type="text" class="form-control" id="firstname" value="@Model.Employee.Mobile">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                            <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-card-account-details-outline mr-1"></i> Hộ khẩu thường trú</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="companyname">Tỉnh thành phố</label>
                                        <select class="form-control">
                                            <option> Hà Nội</option>
                                            <option> TP Hồ Chí Minh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cwebsite">Quận huyện</label>
                                        <select class="form-control">
                                            <option> Tây hồ</option>
                                            <option> Đống đa</option>
                                        </select>
                                    </div>
                                </div> <!-- end col -->

                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cwebsite">Phường xã</label>
                                        <select class="form-control">
                                            <option> Phường Bưởi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="companyname">Địa chỉ</label>
                                        <input type="text" class="form-control" id="firstname" value="Số 14 ngõ 18 Phố Xuân La">
                                    </div>
                                </div>
                                <!-- end col -->
                            </div> <!-- end row -->

                            <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-card-account-details mr-1"></i> Địa chỉ hiện tại</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="companyname">Tỉnh thành phố</label>
                                        <select class="form-control">
                                            <option> Hà nội</option>
                                            <option> TP Hồ Chí Minh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cwebsite">Quận huyện</label>
                                        <select class="form-control">
                                            <option> Tây hồ</option>
                                            <option> Đống đa</option>
                                        </select>
                                    </div>
                                </div> <!-- end col -->

                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cwebsite">Phường xã</label>
                                        <select class="form-control">
                                            <option> Phường Bưởi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="companyname">Địa chỉ</label>
                                        <input type="text" class="form-control" id="firstname" value="Số 14 ngõ 18 Phố Xuân La">
                                    </div>
                                </div>
                                <!-- end col -->
                            </div> <!-- end row -->

                            <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-card-account-details mr-1"></i> Nhân thân</h5>
                            <div class="table-responsive">
                                <table class="table table-borderless table-nowrap mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Tên</th>
                                            <th>Quan hệ</th>
                                            <th>Số DT</th>
                                            <th>Số CMT</th>
                                            <th>Địa chỉ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Nguyễn Thị Lan</td>
                                            <td>Vợ</td>
                                            <td>0982223333</td>
                                            <td>123445565</td>
                                            <td>số 14/18 Võ Văn Dũng</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Nguyễn Văn Nam</td>
                                            <td>Con</td>
                                            <td>0982223333</td>
                                            <td>123445565</td>
                                            <td>số 14/18 Võ Văn Dũng</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Nguyễn Thị Hiền</td>
                                            <td>Mẹ đẻ</td>
                                            <td>0982223333</td>
                                            <td>123445565</td>
                                            <td>số 14/18 Võ Văn Dũng</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <!-- tab nhan su -->
                    <div class="tab-pane" id="nhansu">
                        <form>
                            <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i> Thông tin nhân sự </h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Mã nhân viên</label>
                                        <input type="text" class="form-control" id="firstname" placeholder="II022855">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Email nhân viên</label>
                                        <input type="email" class="form-control" id="lastname" placeholder="Email công ty cấp">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Trưởng bộ phận</label>
                                        <input type="text" class="form-control" id="firstname" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Trạng thái</label>
                                        <select class="form-control">
                                            <option> Chính thức</option>
                                            <option> Đào tạo </option>
                                            <option> Nghỉ việc </option>
                                        </select>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="userbio">Đơn vị</label>
                                        <select class="form-control">
                                            <option> HD Soft</option>
                                        </select>
                                    </div>
                                </div> <!-- end col -->
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="userbio">Địa điểm làm việc</label>
                                        <select class="form-control">
                                            <option> HD Viet Nam trụ sở chính</option>
                                        </select>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Vị trí</label>
                                        <select class="form-control">
                                            <option> </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Chức danh</label>
                                        <input class="form-control" value="@Model.Employee.JobTitle?.Name" />
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Ngày vào công ty</label>
                                        <input type="date" class="form-control" value="@Model.Employee.DateOfOnboard">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Ngày kết thúc thử việc</label>
                                        <input type="date" class="form-control">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-bank mr-1"></i>Tài khoản ngân hàng</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="companyname">Số tài khoản</label>
                                        <input type="text" class="form-control" id="companyname" placeholder="12345644">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cwebsite">Ngân hàng</label>
                                        <select class="form-control">
                                            <option> Techcombank</option>
                                        </select>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-calculator-variant-outline mr-1"></i> Thông tin thuế</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="companyname">Mã số thuế</label>
                                        <input type="text" class="form-control" id="companyname" placeholder="12345644">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cwebsite">Ngày cấp</label>
                                        <input type="date" class="form-control">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-script-text-outline mr-1"></i> Hợp đồng</h5>
                            <div class="table-responsive">
                                <table class="table table-borderless table-nowrap mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Số HĐ</th>
                                            <th>Họ và Tên</th>
                                            <th>Vị trí</th>
                                            <th>Loại HĐ</th>
                                            <th>Hiệu lực</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>HD123455</td>
                                            <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> @Model.Employee.Name</td>
                                            <td>Chuyên viên lập trình</td>
                                            <td>Không xác định thời hạn</td>
                                            <td><a href="#" class="badge bg-success">Running</a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <!-- end about me section content -->
                    <div class="tab-pane" id="congtac">
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-office-building mr-1"></i>Quá trình công tác</h5>
                        <div class="timeline-alt pb-0">
                            <div class="timeline-item">
                                <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <h5 class="mt-0 mb-1">Chuyên viên phân tích nghiệp vụ</h5>
                                    <p class="font-14">Đơn vị: NDU6 <span class="font-12">Thời gian: 01/01/2022 - nay</span></p>
                                    <p class="text-muted">Theo quyết định số QD/123455</p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <h5 class="mt-0 mb-1">Nhân viên phân tích nghiệp vụ</h5>
                                    <p class="font-14">Đơn vị: NDU6 <span class="font-12">Thời gian: 01/01/2021 - 31/12/2021</span></p>
                                    <p class="text-muted">Theo quyết định số QD/123455</p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <h5 class="mt-0 mb-1"> Phân tích nghiệp vụ</h5>
                                    <p class="font-14">Đơn vị: NDU6 <span class="font-12">Thời gian: 01/01/2020 - 31/12/2020</span></p>
                                    <p class="text-muted">Theo quyết định số QD/123455</p>
                                </div>
                            </div>

                        </div>
                        <!-- end timeline -->


                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-hammer mr-1"></i>Quyết định</h5>

                        <div class="table-responsive">
                            <table class="table table-borderless table-nowrap mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Người ra QĐ</th>
                                        <th>Loại QĐ</th>
                                        <th>Số QĐ</th>
                                        <th>Cấp HĐ</th>
                                        <th>Ngày ký HĐ</th>
                                        <th>Hiệu lực</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Lương Vũ Nam</td>
                                        <td>Điều chỉnh lương</td>
                                        <td>KT123455</td>
                                        <td>Công ty</td>
                                        <td>01/01/2020</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Lương Vũ Nam</td>
                                        <td>Điều chỉnh lương</td>
                                        <td>KT123455</td>
                                        <td>Công ty</td>
                                        <td>01/01/2020</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Lương Vũ Nam</td>
                                        <td>Khen thưởng</td>
                                        <td>KT123455</td>
                                        <td>Công ty</td>
                                        <td>01/01/2020</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        

                    </div>
                    <!-- end timeline content-->
                    <div class="tab-pane" id="daotao">
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-office-building mr-1"></i> Quá trình đào tạo</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-centered mb-0 font-14">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Khóa đào tạo </th>
                                        <th>Kết quả</th>
                                        <th style="width: 40%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nghiệp vụ BA</td>
                                        <td>90/100</td>
                                        <td>
                                            <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 65%; height: 20px;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Khóa học quản lý dự án </td>
                                        <td>Chưa hoàn thành</td>
                                        <td>
                                            <div class="progress" style="height: 3px;">
                                                <div class="progress-bar bg-default" role="progressbar" style="width: 0%; height: 20px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kháo đào tạo PMA</td>
                                        <td>75</td>
                                        <td>
                                            <div class="progress" style="height: 3px;">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 75%; height: 20px;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Đào tạo hội nhập</td>
                                        <td>90</td>
                                        <td>
                                            <div class="progress" style="height: 3px;">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 90%; height: 20px;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->

                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-school mr-1"></i> Kết qủa đào tạo</h5>

                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Loại hình</th>
                                        <th>Nội dung &amp; thời gian </th>
                                        <th>Hình thức</th>
                                        <th>Địa điểm</th>
                                        <th>Đơn vị tổ chức</th>
                                        <th>Kết quả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Thi chứng chỉ</td>
                                        <td>
                                            SAP Certified Application Associate - SAP S/4HANA for Management Accounting Associates(SAP S/4HANA 1909)
                                            <p>Từ 06 - 10/08/2022</p>
                                        </td>
                                        <td>Trực tuyến</td>
                                        <td></td>
                                        <td>SAP</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Khóa học</td>
                                        <td>
                                            Đào tạo báo cáo tài chính chuẩn IFRS
                                            <p>Từ 06 - 10/08/2022</p>
                                        </td>
                                        <td>Trực tiếp</td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Khóa học</td>
                                        <td>
                                            Đào tạo nội bộ hệ thống BPC
                                            <p>Từ 06 - 10/08/2022</p>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- tab tuyen dung-->
                    <div class="tab-pane" id="tuyendung">
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-clipboard-list mr-1"></i> Thủ tục onboard</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-centered mb-0 font-14">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Tên công việc</th>
                                        <th>PIC</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Gửi email mời phỏng vấn</td>
                                        <td>
                                            Nguyễn Thị Hương
                                        </td>
                                        <td>
                                            <a href="#" class="badge bg-success">Hoàn thành</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Gửi Offer letter</td>
                                        <td>
                                            Nguyễn Thị Hương
                                        </td>
                                        <td>
                                            <a href="#" class="badge bg-success">Hoàn thành</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Gửi thư mời làm việc</td>
                                        <td>
                                            Nguyễn Thị Ánh Sáng
                                        </td>
                                        <td>
                                            <a href="#" class="badge bg-success">Hoàn thành</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Gửi thông tin đào tạo hội nhập cho ứng viên</td>
                                        <td>
                                            Phạm Thị Hường
                                        </td>
                                        <td>
                                            <a href="#" class="badge bg-success">Hoàn thành</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->

                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-account-group mr-1"></i> Hội đồng tuyển dụng</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-centered mb-0 font-14">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Tên</th>
                                        <th>Vị trí</th>
                                        <th>Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Lương Vũ Nam</td>
                                        <td>CEO</td>
                                        <td>
                                            Giải đáp về chế độ, lương thưởng của công ty
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trần Ngọc Đức</td>
                                        <td>CTO</td>
                                        <td>
                                            Phỏng vấn chuyên môn
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Lê Văn Thành </td>
                                        <td>Lập trình viên</td>
                                        <td>
                                            Dự thính
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->

                       
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-clipboard-account mr-1"></i> CV</h5>

                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Tên CV </th>
                                        <th>Nguồn</th>
                                        <th>Ngày ứng tuyển</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            Tên CV ứng viên.pdf
                                        </td>
                                        <td>Vietnamwork.com.vn</td>
                                        <td>20/12/2021</td>
                                        <td>
                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="" class="btn btn-link text-muted btn-lg p-0" data-original-title="Download">
                                                <i class="uil uil-cloud-download"></i>
                                            </a>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end settings content-->
                </div> <!-- end tab-content -->
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
