@page
@using HD.ProfileManager.Localization
@using Microsoft.Extensions.Localization
@using HD.ProfileManager.Organizations

@inject IStringLocalizer<ProfileManagerResource> Localizer

@model HD.ProfileManager.Web.Pages.Organizations.PositionDetailModel
@{
    var currentUrl = $"{Request.PathBase}{Request.Path}{Request.QueryString}";
    ViewBag.Title = @Localizer["Create Organization"].ToString();
    var backUrl = Model.BackUrl;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">@Model.Form.Name</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a class="btn btn-sm btn-primary" href="@Url.Page("Edit", new { backUrl = currentUrl, id=Model.Form.Id })"><i class="mdi mdi-pencil"></i> @Localizer["Edit"]</a>

        <a href="@Html.Raw(Model.BackUrl)" class="btn btn-sm btn-secondary">
            <span class="mdi mdi-keyboard-return"></span> @Localizer["Back"]
        </a>
        <a class="btn btn-sm btn-danger float-end" href="javascript:void(0);" onclick="openDangerModal(this)" url="@Url.Page("Remove", new { backUrl, id=Model.Form.Id })"><i class="mdi mdi-delete"></i> @Localizer["Delete"]</a>
    </div>
</div>
<hr />
<div class="row">
    @foreach (var position in Model.Positions)
    {
        <div class="col-sm-6 col-xl-3 mb-3">
            <div class="card mb-0 h-100">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-plus-circle me-1"></i> Yêu cầu tuyển dụng vị trí này</a>
                            <!-- item-->
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-square-edit-outline me-1"></i> Sửa</a>
                            <!-- item-->
                            <hr class="dropdown-divider">
                            <a href="javascript:void(0);" class="dropdown-item text-danger"><i class="mdi mdi-trash-can-outline me-1"></i> Xóa</a>
                        </div>
                    </div>
                    <h4 class="header-title">@position.Name</h4>
                    <h5 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">@position.Position.Level @position.Position.Name</h5>

                    <div class="d-flex align-items-center mt-4">
                        <div class="flex-shrink-0">
                            <h5 class="font-13 text-muted my-0"><i class="mdi mdi-clock-outline"></i> Chưa bồ nhiệm</h5>
                        </div>
                        <div class="flex-grow-1 ms-2"> </div>
                        <div class="text-end multi-user">
                            <a href="javascript:void(0);" class="d-inline-block">
                                <img src="/assets/images/users/avatar-1.jpg" class="rounded-circle avatar-xs" alt="friend">
                            </a>
                        </div>
                    </div>
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div>
    }

</div>
