@page
@using HD.ProfileManager.Localization
@using Microsoft.Extensions.Localization
@using HD.ProfileManager.Web.Pages.Employees
@using Volo.Abp.Application.Dtos;

@inject IStringLocalizer<ProfileManagerResource> Localizer
@model IndexModel
@{
    var currentUrl = $"{Request.PathBase}{Request.Path}{Request.QueryString}";
    var totalCount = Model.Result.TotalCount;

    var currentPaging = Model.Params;
    long startPage = currentPaging.SkipCount + 1;
    long endPage = currentPaging.SkipCount + currentPaging.MaxResultCount;
    if (endPage > totalCount) endPage = totalCount; 

    PagedAndSortedResultRequestDto nextPaging = new PagedAndSortedResultRequestDto();
    PagedAndSortedResultRequestDto prevPaging = new PagedAndSortedResultRequestDto();

    nextPaging.SkipCount = currentPaging.SkipCount + currentPaging.MaxResultCount;
    nextPaging.MaxResultCount = currentPaging.MaxResultCount;

    prevPaging.SkipCount = currentPaging.SkipCount - currentPaging.MaxResultCount;
    prevPaging.MaxResultCount = currentPaging.MaxResultCount;

    var isDisablePrev = currentPaging.SkipCount == 0 ? "disabled" : "";
    var isDisableNext = endPage >= totalCount ? "disabled" : "";

}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <div class="app-search">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." />
                            <span class="mdi mdi-magnify search-icon"></span>
                        </div>
                    </form>
                </div>
            </div>
            <h4 class="page-title">@Localizer["Employees"] </h4>
        </div>
    </div> <!-- end col -->
</div>

<div class="row">
    <div class="col-12">
        <a class="btn btn-sm btn-primary" href="@Url.Page("Create", new { backUrl = currentUrl })"><i class="mdi mdi-account-plus"></i> @Localizer["Create"]</a>
        <nav class="float-end">
            <ul class="pagination pagination-sm mb-0">
                <li class="page-item @isDisablePrev">
                    <a class="page-link" href="@Url.Page("Index", prevPaging)" tabindex="-1" aria-disabled="true"><i class="mdi mdi-arrow-left-bold"></i></a>
                </li>
                <li class="page-item disabled" aria-current="page">
                    <a class="page-link active" href="#">
                    @{
                        var pageInfor = Model.Result.TotalCount > 0 ? $"{startPage} - {endPage} of {totalCount} records" : Localizer["We found nothing"]; 
                    }
                        @pageInfor
                    </a>
                </li>
                <li class="page-item @isDisableNext">
                    <a class="page-link" href="@Url.Page("Index", nextPaging)"><i class="mdi mdi-arrow-right-bold"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">

    @foreach (var employee in Model.Result.Items)
    {
        <div class="col-md-6 col-xxl-3">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="@Url.Page("Detail",new {id=employee.Id })" class="dropdown-item">View Profile</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Project Info</a>
                        </div>
                    </div>

                    <div class="text-center">
                        <img src="~/assets/images/users/avatar-1.jpg" class="rounded-circle avatar-md img-thumbnail" alt="friend">
                        <h4 class="mt-3 my-1">@employee.Name</h4>
                        <p class="mb-0 text-muted"><i class="mdi mdi-email-outline me-1"></i>@employee.Email</p>
                        <hr class="bg-dark-lighten my-3">
                        <h5 class="mt-3 fw-semibold text-muted">@employee.JobTitle?.Name</h5>
                    </div>
                </div>
            </div>
        </div>
    }

</div> <!-- End row -->